garmin:
  username: xxxxxxx@yyy.zzz
  password: lasdfkjladsjgf
  dateOfBirth: yyyy-mm-dd
  sex: male/female
  height: 123

mqtt:
  host: localhost
  port: 1883
  username: mqttUser
  password: mqttPassword
  topic: scale # leave as is
  topic_ack: scaleAck # leave as is

last_ts: data_last_ts.json
last_meas: data_last_meas.json
full_meas: data_full_meas.json

post_weighin:
