garmin:
  username: xxxxxxx@yyy.zzz
  password: lasdfkjladsjgf
  dateOfBirth: yyyy-mm-dd
  sex: male/female
  height: 123

mqtt:
  host: localhost
  port: 8884
  username: mqttUser
  password: mqttPassword
  topic: scale    # leave as is

last_ts: last_ts.json
last_meas: last_meas.json
full_meas: full_meas.json
