garmin:
  username: xxxxxxx@yyy.zzz
  password: lasdfkjladsjgf
  dateOfBirth: yyyy-mm-dd
  sex: male/female
  height: 123

mqtt:
  host: localhost
  port: 1883
  username: mqttUser
  password: mqttPassword
  topic: scale # leave as is
  topic_ack: scaleAck # leave as is
  ack_signal: x # leave as is

full_raw_data: full_raw_data.json

post_weighin: /option/script/that/accepts/args
