mqtt:
  topic: scale
  topic_ack: scaleAck
  ack_signal: X

full_raw_data: /mnt/store/perso/07.body.metrics/scale_full_raw_data.json

post_weighin: /mnt/store/perso/04.code/strava_scripts/post_weighin.py
