# VSCode
.vscode

# Arduino compilation buffer
output

# Let's not share all my personal stuff with the whole world
usersettings.h
config.yml
*.log
clear_queue
last_ts.json

# Python stuff
__pycache__
venv

# other
tmp
