# VSCode
.vscode

# Arduino compilation buffer
output

# Let's not share all my personal stuff with the whole world
usersettings.h
config.yml
*.log
clear_queue
data_last_ts.json
data_last_meas.json
data_full_meas.json

# Python stuff
__pycache__
venv

# other
tmp
